[jsc]
command: jsc

[v8]
command: d8.sh

[mozjs]
command: js24

[rhino]
command: java -client -jar ./rhino/js-1.7R3.jar -opt 8

[validation]
validator: java -client -jar ./jing/jing-20131210.jar -c
schema: ./csl-schemata/csl/csl.rnc
schema-m: ./csl-schemata/csl-m/csl-mlz.rnc
