body {
    font-family: sans-serif;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
}

h1,h2,h3 {
    color: #0084B9;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

small {
    color: #77C9EA;
}

h1 img {
    vertical-align: middle;
}
a:link {
	color: #0084B8;
}

a:active {
	color: #0084B8;
}

a:visited {
	color: #0084B8;
}

a:hover {
	color: #77C9EA;
}

#citation { 
  background-color: #eeeeee;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 5pt;
  display: none; /* only show on demand */
}

input#doi {
    width: 300px;
}

select#styles {
    width: 100px;
}
